# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Spark checkpoints
checkpoints/
*/checkpoints/

# Data lake files
data/lake/

# Logs
*.log

# Mac / Windows
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.tar
*.pid

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swp

# Spark warehouse
spark-warehouse/